.filtro{
    width: 50%;
    margin-left: 29%;
}
/*@media (min-width: 1200px) { 
	.diseño{
    	padding-right: 15px;
    	padding-left: 34px;
    	margin-right: 23%;
    	margin-left: 18%;
    	margin-top: 4%;
    	width: 79%;
}*/