.M1
	background #2286A7 
.formulario
    margin-left 32%
    
	@media(max-width: 1200px) {
    
    	.formulario{
        	margin-left: 32%;
   }
}
@media(max-width: 200px){
	.formulario {
		margin-left: -16%;
        width: 167%;
        	}
}