.Sector-Create-Usuario {
  background: #2286a7;
}
.Crear-Usuario {
  background: #2286a7;
}
.Perfil-User {
  background: none !important;
}
.foto {
  margin-left: 16%;
}
.todo {
  background-image: linear-gradient(to bottom, #000 0, #f5f5f5 100%);
}
.co {
  color: #fff;
}
